.question {
    margin: 20px 0;
}

.question h2 {
    font-size: 1.5em;
    color: #333;
}

.question ul {
    list-style: none;
    padding: 0;
}

.question li {
    margin: 10px 0;
}

button {
    padding: 12px;
    margin: 5px 0;
    border: none;
    border-radius: 8px;
    background-color: #f0f8ff;
    color: #4b0082;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: #e6fa;
    transform: translateY(-2px);
}