.result {
    margin: 10px 0;
    text-align: center;
}

.result h2 {
    font-size: 1.5em;
    color: #333;
}

.result ul {
    list-style: none;
    padding: 0;
}

.result li {
    margin: 5px 0;
    font-weight: 500;
}

.result h3 {
    margin-top: 20px;
    color: forestgreen;
}