* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

body {
    background-color: #043c6e;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #ebe480;
    padding: 1rem;
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}