/* pseudoclase, asigna variables predefinidas */
:root{
    --color-primario: #ff7b00;
    --color-secundario: #a26e3e;
    --blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    /* manejamos que las cajas no se sobrepasen del contenedor */
    box-sizing: border-box;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: .6rem; /* 1rem = 16 pixeles */
}

.nav-link{
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
}

.seccion-restaurante{
    background-image: url("https://res.cloudinary.com/dmddi5ncx/image/upload/v1720574753/practicas/hamburguesa/image1_jcpygh.jpg");
    width: 100%;
    height: 600px;
    /* indicamos que el contenido se adapte al contenedor y se reposicione abajo (la imagen) */
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 0);
    margin-bottom: 6rem;
}

.seccion-restaurante::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de opacidad según tus necesidades */
    z-index: 1; /* Asegura que la capa oscura esté por encima de la imagen de fondo */
}

.titulo{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: var(--blanco);
    z-index: 1;
}

.subtitulo{
    font-size: 2rem;
    letter-spacing: .7rem;
    font-weight: 400;
    color: var(--blanco);
    z-index: 1;
}

.caja{
    width: 80%;
    margin: auto;
}

.nosotros{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.nosotros-imagen img{
    width: 400px;
    height: 400px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img{
    width: 300px;
    height: 200px;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin: 0 15px;
}

.footer-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav ul li a:hover{
    text-decoration: underline;
}

.footer-map iframe{
    border: none;
}